html{
    font-size: 62.5%;
    height: 95.6%;
}
body{
    background: #B3D4FC;
    height: 100%;
    margin: 0;
}
header, main{
    text-align: center;
}
h2{
    font-size: 3.2rem;
}
header button{
    margin: 1rem;
}
h3{
    font-size: 2rem;
}
h2,h3{
    text-transform: uppercase;
}
main{
    background: white;
    min-height: 82.5%;
    padding: 1rem 0 1rem;
}
.box{
    border: 1px solid black;
    box-sizing: border-box;
    padding: 1rem;
    width: 50rem;margin: 0.1rem auto;
}
p{
    font-size: 1.6rem;
    margin: 2.1rem auto 0;
}
small{
    font-size: 1rem;
}
.up{
    position: relative;
    top: -3.5rem;
    left: 28rem;
}
.down{
    position: relative;
    top: -1.5rem;
    left: 23.5rem;
}